extends /layouts/public

block content
  .container.py-5
    h1.h3.mb-3 Exhibition not available
    p.mb-3 This exhibition is private or has not yet been published.
    a.btn.btn-primary(href='/exhibitions') See published exhibitions

