extends /layouts/public

block content
  .container.py-5
    h1.h3.mb-3 Exposicion no disponible
    p.mb-3 Esta exposicion es privada o aun no ha sido publicada.
    a.btn.btn-primary(href='/exhibitions') Ver exposiciones publicadas

