footer.footer
  .container
    // Footer reutilizable para Galería del Ox
    .row.d-flex.align-items-center.py-3.my-4.border-top
      .col-4.d-flex.justify-content-center
        a(href='/')
          img.logo-navbar(src='/Logos/GOX_LOGO_08.png' alt='Galería del Ox')
      .col-4.d-flex.justify-content-center.align-items-center
        p.mb-0.text-center © 2025 Galería del Ox. Todos los derechos reservados.
      .col-4.d-flex.justify-content-center
        ul.nav.justify-content-center
          li.nav-item
            a.nav-link.px-2.text-body-secondary(href='#') Inicio
          li.nav-item
            a.nav-link.px-2.text-body-secondary(href='#') ¿Quiénes somos?
          li.nav-item
            a.nav-link.px-2.text-body-secondary(href='#') Obras
          li.nav-item
            a.nav-link.px-2.text-body-secondary(href='#') Artistas
          li.nav-item
            a.nav-link.px-2.text-body-secondary(href='#') Exposiciones
          li.nav-item
            a.nav-link.px-2.text-body-secondary(href='#') Contacto