doctype html
html(lang='es')
  head
    title #{title || 'Galería del Ox'}
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
    link(rel='stylesheet' href='/css/style.css')
  body(data-bs-theme='dark')
    nav.navbar.navbar-expand-lg
      .container
        a.navbar-brand(href='/')
          img.logo-navbar(src='/Logos/GOX_LOGO_05.png' alt='Galería del Ox')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#mainNavbar')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#mainNavbar
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.text-white.text-uppercase(href='/') Inicio
            li.nav-item
              a.nav-link.text-white.text-uppercase(href='/quienes-somos') ¿Quiénes somos?
            li.nav-item
              a.nav-link.text-white.text-uppercase(href='/obras') Obras
            li.nav-item
              a.nav-link.text-white.text-uppercase(href='/artistas') Artistas
            li.nav-item
              a.nav-link.text-white.text-uppercase(href='/exposiciones') Exposiciones
            li.nav-item
              a.nav-link.text-white.text-uppercase(href='/contacto') Contacto
            li.nav-item
              a.nav-link.text-white(href='/login')
                i.fas.fa-user

    block content

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')
