extends /layouts/public

block content
  .container.py-4
    .d-flex.align-items-center.justify-content-between.mb-4
      h2.mb-0 Recently viewed exhibitions
      a.btn.btn-outline-secondary(href='/exhibitions') Explore exhibitions

    if exhibitions && exhibitions.length
      - var exhibitions = exhibitions
      include /public/exhibitions/_exhibitionGrid.pug
    else
      p.text-muted There are no recent exhibitions to show.

