:root {
  --ox-yellow: #F5C45E;
  --ox-blue:   #102E50;
  --ox-orange: #E78B48;
  --ox-red:    #BE3D2A;
  --ox-beige:  #F7F6EF;

  --font-title:    'Montserrat', sans-serif;
  --font-subtitle: 'Lora', serif;
}

/* Base: 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-title);
  background-color: var(--ox-beige);
  color: #111;
  font-size: 1.6rem;
}

.navbar {
  height: 7.5rem;
  background-color: var(--ox-blue);
  overflow: hidden;
}

.navbar-brand {
  height: 8rem;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.logo-navbar {
  height: 8rem;
  max-width: 100%;
  display: block;
}

/* Links */
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 1rem;
  text-transform: uppercase;
  transition: color 0.2s ease;
  font-size: 1.4rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--ox-yellow);
}

/* Icono login */
.navbar-nav .fa-user {
  font-size: 1.6rem;
  vertical-align: middle;
}

/* HERO H1 Montserrat Bold */
.hero h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 5rem 2rem;
}

.hero-content {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-content p.lead {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
}

.hero-content p.lead::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--ox-orange);
  border-radius: 2px;
  margin: 0.7rem 0 0 0;
}

.hero-content p.mb-4 {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.hero-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.btn-primary {
  background-color: var(--ox-yellow);
  border-color: var(--ox-yellow);
  color: #102E50;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #e6b24e;
  border-color: #e6b24e;
  color: #102E50;
}

