extends ../layouts/public

block content
  .container-xxl.py-5
    .row.justify-content-center
      .col-lg-8
        h1.mb-4 ¿Quiénes somos?
        p.lead.mb-4 Bienvenido a Galería del Ox.
        p.mb-3 Somos una plataforma dedicada a difundir, exhibir y vender obras de artistas contemporáneos.
        p.mb-3 Nuestra misión es conectar a coleccionistas y amantes del arte con piezas únicas, promoviendo el talento emergente y consolidado.
        // Puedes ampliar esta sección con historia, misión, visión y equipo.
        hr.my-5
        h2.h5 Nuestro compromiso
        ul
          li Curaduría cuidadosa y transparente
          li Promoción justa de artistas
          li Experiencia de compra segura
        p.mt-4
          a.btn.btn-outline-primary(href='/artworks') Explora obras