//- views/public/exhibitions.pug
extends ../layouts/public

block content
  .container-xxl.py-5
    h2.h3.mb-4 Exposiciones
    p.text-muted Aquí se mostrarán las exposiciones públicas.
    //- Agrega aquí el grid/listado de exposiciones o el contenido que desees
