//- views/public/exhibitions.pug
extends ../layouts/public

block content
  // Contexto para los parciales
  - var actionUrl = '/exhibitions'

  .container-xxl.py-4
    header.d-flex.align-items-baseline.justify-content-between.mb-3
      h1.h3.mb-0 Exposiciones

  // Filtros (chips + offcanvas)
  include _exhibitionFilters.pug

  // Grid de exposiciones (secciones a pantalla completa)
  .container-xxl.artworks-flex
    .artworks-grid-paginate
      include _exhibitionGrid.pug
      // Paginación SSR
      if typeof exhibitionTotalPages !== 'undefined' && exhibitionTotalPages > 1
        include _exhibitionPagination.pug
