extends /layouts/public
- var hideNavbar = true
- var hideFooter = true

block content
  .container.reset-password-container
    .row.justify-content-center
      .col-md-6.col-lg-5
        .d-flex.align-items-start.py-4.min-vh-80
          main.form-signin.w-100.m-auto.font-title
            img.mb-4.logo-reset.mb-3(src="/Logos/GOX_LOGO_01.png", alt="Logo", width="72", height="57")
            h1.h3.mb-3.fw-normal.text-center Invalid link
            .alert.alert-danger.mb-3.text-center
              | The reset link is invalid, has expired, or has already been used.
            .d-grid.gap-2
              a.btn.btn-primary(href="/forgot-password") Request a new link
              a.btn.btn-outline-primary.ox-back-btn(href="/login") Return

